Snapshot_old_server.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6b42371e-0181-1000-6607-9d86050a29ca</groupId>
    <name>Snapshot old server</name>
    <snippet>
        <controllerServices>
            <id>050c9c8a-e777-3d65-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <versionedComponentId>050c9c8a-e777-3d65-bc3a-9e9568938ec0</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0-SNAPSHOT</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter-Awamo-TPE-Stack</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>1f340475-7994-31f5-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <versionedComponentId>1f340475-7994-31f5-a504-6d54a4a9ea6a</versionedComponentId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0-SNAPSHOT</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>hikaricp-validation-query</key>
                    <value>
                        <name>hikaricp-validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-total-conns</key>
                    <value>
                        <name>hikaricp-max-total-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-password</key>
                    <value>
                        <name>hikaricp-password</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-driver-classname</key>
                    <value>
                        <name>hikaricp-driver-classname</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-min-idle-conns</key>
                    <value>
                        <name>hikaricp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-username</key>
                    <value>
                        <name>hikaricp-username</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>hikaricp-kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-conn-lifetime</key>
                    <value>
                        <name>hikaricp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-driver-locations</key>
                    <value>
                        <name>hikaricp-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-wait-time</key>
                    <value>
                        <name>hikaricp-max-wait-time</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-connection-url</key>
                    <value>
                        <name>hikaricp-connection-url</name>
                    </value>
                </entry>
            </descriptors>
            <name>HikariPool-Connection-msSqlServer-GetMyBucks</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hikaricp-max-total-conns</key>
                    <value>10</value>
                </entry>
                <entry>
                    <key>hikaricp-driver-classname</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>hikaricp-min-idle-conns</key>
                    <value>10</value>
                </entry>
                <entry>
                    <key>hikaricp-username</key>
                    <value>postgres</value>
                </entry>
                <entry>
                    <key>hikaricp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>hikaricp-driver-locations</key>
                    <value>/home/azureuser/nifi_libs/mssql-jdbc-10.2.1.jre11.jar</value>
                </entry>
                <entry>
                    <key>hikaricp-max-wait-time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>hikaricp-connection-url</key>
                    <value>jdbc:sqlserver://20.31.25.255;database=test_migration</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.HikariCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>641a54f0-6e0c-3e62-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <versionedComponentId>641a54f0-6e0c-3e62-9062-42e9cf68a889</versionedComponentId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0-SNAPSHOT</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>hikaricp-validation-query</key>
                    <value>
                        <name>hikaricp-validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-total-conns</key>
                    <value>
                        <name>hikaricp-max-total-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-password</key>
                    <value>
                        <name>hikaricp-password</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-driver-classname</key>
                    <value>
                        <name>hikaricp-driver-classname</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-min-idle-conns</key>
                    <value>
                        <name>hikaricp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-username</key>
                    <value>
                        <name>hikaricp-username</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>hikaricp-kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-conn-lifetime</key>
                    <value>
                        <name>hikaricp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-driver-locations</key>
                    <value>
                        <name>hikaricp-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-max-wait-time</key>
                    <value>
                        <name>hikaricp-max-wait-time</name>
                    </value>
                </entry>
                <entry>
                    <key>hikaricp-connection-url</key>
                    <value>
                        <name>hikaricp-connection-url</name>
                    </value>
                </entry>
            </descriptors>
            <name>HikariPool-Connection-To-Awamo-TPE-Stack</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hikaricp-max-total-conns</key>
                    <value>#{awamo_max_total_connections}</value>
                </entry>
                <entry>
                    <key>hikaricp-driver-classname</key>
                    <value>#{awamo_database_driver_class_name}</value>
                </entry>
                <entry>
                    <key>hikaricp-min-idle-conns</key>
                    <value>#{awamo_minium_idle_connections}</value>
                </entry>
                <entry>
                    <key>hikaricp-username</key>
                    <value>#{awamo_database_user}</value>
                </entry>
                <entry>
                    <key>hikaricp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>hikaricp-driver-locations</key>
                    <value>#{awamo_database_driver_location}</value>
                </entry>
                <entry>
                    <key>hikaricp-max-wait-time</key>
                    <value>#{awamo_max_wait_time}</value>
                </entry>
                <entry>
                    <key>hikaricp-connection-url</key>
                    <value>#{awamo_database_connection_url}#{awamo_source_tenant_database}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.HikariCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>5e33f816-fbb5-3db6-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <position>
                <x>440.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>5e33f816-fbb5-3db6-b61d-92a855359c4c</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>dcef6955-aef2-3eb0-0000-000000000000</id>
                    <parentGroupId>5e33f816-fbb5-3db6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1320.0</x>
                        <y>96.0</y>
                    </position>
                    <versionedComponentId>dcef6955-aef2-3eb0-93ac-f850a4753e31</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>15ae0f8d-af4c-33dd-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>070374ad-fb44-3afb-8855-63c87daaf028</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>224.0</x>
<y>-192.0</y>
                            </bends>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>99d6eaf2-ebe0-3551-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>48c722e1-9f85-373e-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>83d04f65-746b-3d0f-90ab-4f3617584ffa</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>408.0</x>
<y>-552.0</y>
                            </bends>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>fb31383c-826d-3d01-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>80fb6f94-8389-3633-aff1-23d76eadbd96</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>6915d652-14b7-3ba2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>54625c07-eb97-3abc-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>bcd8d259-87fc-3e11-9088-70d49fcb89d3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>480.0</x>
<y>-192.0</y>
                            </bends>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>99d6eaf2-ebe0-3551-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9f8033d1-9875-3d2b-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>3bbb7c9c-4e90-3922-b095-3fd235246f3d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>6915d652-14b7-3ba2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d0149f2d-9d96-3a4c-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>28394b9c-d1d3-3be9-9227-7850dd057ea0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1392.0</x>
<y>-208.0</y>
                            </bends>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>99d6eaf2-ebe0-3551-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d33d83db-7b56-3426-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>bae851c1-cfd5-39c5-b190-5171ec16d8cf</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>6915d652-14b7-3ba2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>3ba62ed5-0d2a-348e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d4db8e6f-6a87-317c-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>682623c3-6feb-36ac-80f2-ad8ad422d699</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1064.0</x>
<y>-200.0</y>
                            </bends>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>99d6eaf2-ebe0-3551-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f342238d-73f8-3525-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>3ee9cc3d-66bc-3bb0-b0d4-8735d1b36aa5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>99d6eaf2-ebe0-3551-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>dcef6955-aef2-3eb0-0000-000000000000</groupId>
<id>7633bcde-a620-3fa8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>88e50d00-08e6-3b55-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <versionedComponentId>88e50d00-08e6-3b55-be85-6f6acb23e741</versionedComponentId>
                            <bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>hikaricp-validation-query</key>
    <value>
        <name>hikaricp-validation-query</name>
    </value>
</entry>
<entry>
    <key>hikaricp-max-total-conns</key>
    <value>
        <name>hikaricp-max-total-conns</name>
    </value>
</entry>
<entry>
    <key>hikaricp-password</key>
    <value>
        <name>hikaricp-password</name>
    </value>
</entry>
<entry>
    <key>hikaricp-driver-classname</key>
    <value>
        <name>hikaricp-driver-classname</name>
    </value>
</entry>
<entry>
    <key>hikaricp-min-idle-conns</key>
    <value>
        <name>hikaricp-min-idle-conns</name>
    </value>
</entry>
<entry>
    <key>hikaricp-username</key>
    <value>
        <name>hikaricp-username</name>
    </value>
</entry>
<entry>
    <key>hikaricp-kerberos-user-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
        <name>hikaricp-kerberos-user-service</name>
    </value>
</entry>
<entry>
    <key>hikaricp-max-conn-lifetime</key>
    <value>
        <name>hikaricp-max-conn-lifetime</name>
    </value>
</entry>
<entry>
    <key>hikaricp-driver-locations</key>
    <value>
        <name>hikaricp-driver-locations</name>
    </value>
</entry>
<entry>
    <key>hikaricp-max-wait-time</key>
    <value>
        <name>hikaricp-max-wait-time</name>
    </value>
</entry>
<entry>
    <key>hikaricp-connection-url</key>
    <value>
        <name>hikaricp-connection-url</name>
    </value>
</entry>
                            </descriptors>
                            <name>HikariCPConnectionPool-SA-Business</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>hikaricp-validation-query</key>
    <value>SELECT 1</value>
</entry>
<entry>
    <key>hikaricp-max-total-conns</key>
    <value>10</value>
</entry>
<entry>
    <key>hikaricp-driver-classname</key>
    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
</entry>
<entry>
    <key>hikaricp-min-idle-conns</key>
    <value>10</value>
</entry>
<entry>
    <key>hikaricp-username</key>
    <value>AtlasUser</value>
</entry>
<entry>
    <key>hikaricp-max-conn-lifetime</key>
    <value>-1</value>
</entry>
<entry>
    <key>hikaricp-driver-locations</key>
    <value>/home/azureuser/nifi_libs/mssql-jdbc-10.2.1.jre11.jar</value>
</entry>
<entry>
    <key>hikaricp-max-wait-time</key>
    <value>500 millis</value>
</entry>
<entry>
    <key>hikaricp-connection-url</key>
    <value>jdbc:sqlserver://45.220.164.22\DEV01AF;databaseName=ke_Fincloud</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.dbcp.HikariCPConnectionPool</type>
                        </controllerServices>
                        <labels>
                            <id>f82be07e-3b29-3ffd-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>888.0</x>
<y>-832.0</y>
                            </position>
                            <versionedComponentId>6d45bd6e-8123-328b-bbfc-70b209a84bef</versionedComponentId>
                            <height>288.0</height>
                            <label>{
  "firstname" : "Suzi",
  "middlename" : null,
  "lastname" : "Erdman",
  "mobileNo" : null,
  "externalId" : "89GIOUQN",
  "officeId" : 1,
  "legalFormId" : 1,
  "isStaff" : 0,
  "active" : 1,
  "dateFormat" : "dd MMMM yyyy",
  "locale" : "en",
  "activationDate" : "25  February 2022",
  "submittedOnDate" : "25  February 2022",
  "dateOfBirth" : "21  March 2004"
}</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>320.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <processors>
                            <id>3ba62ed5-0d2a-348e-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>528.0</x>
<y>-824.0</y>
                            </position>
                            <versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>
            <name>db-fetch-db-type</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>qdbtr-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>qdbtr-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>
            <name>Maximum-value Columns</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>
            <name>qdbt-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>
            <name>qdbt-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>
            <name>qdbt-max-frags</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>initial-load-strategy</key>
        <value>
            <name>initial-load-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>
            <name>Fetch Size</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
        <value>
            <name>db-fetch-sql-query</name>
        </value>
    </entry>
    <entry>
        <key>qdbtr-normalize</key>
        <value>
            <name>qdbtr-normalize</name>
        </value>
    </entry>
    <entry>
        <key>Columns to Return</key>
        <value>
            <name>Columns to Return</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-where-clause</key>
        <value>
            <name>db-fetch-where-clause</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Table Name</key>
        <value>migrationClients</value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>MS SQL 2012+</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>qdbtr-record-writer</key>
        <value>050c9c8a-e777-3d65-0000-000000000000</value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>60 seconds</value>
    </entry>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>88e50d00-08e6-3b55-0000-000000000000</value>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>id</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>0</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>initial-load-strategy</key>
        <value>Start at Beginning</value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
        <value>SELECT 
	FirstName, 
	MiddleName, 
	Lastname, 
	MobileNo, 
	ExternalId, 
	OfficeId, 
	LegalFormId, 
	IsStaff, 
	Active, 
	DateFormat, 
	Locale, 
	ActivationDate, 
	SubmittedOnDate, 
	DateOfBirth 
FROM 
	migrationClients</value>
    </entry>
    <entry>
        <key>qdbtr-normalize</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>FinCloud South Africa</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryDatabaseTableRecord</type>
                        </processors>
                        <processors>
                            <id>6915d652-14b7-3ba2-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>528.0</x>
<y>-608.0</y>
                            </position>
                            <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-spec</key>
        <value>[{
	"operation": "shift",
	"spec": {
		"firstname": "firstname",
		"middlename": "middlename",
		"lastname": "lastname",
		"mobileNo": "mobileNo",
		"externalId": "externalId",
		"officeId": "officeId",
		"legalFormId": "legalFormId",
		"isStaff": "isStaff",
		"active": "active",
		"dateFormat": "dateFormat",
		"locale": "locale",
		"activationDate": "activationDate",
		"submittedOnDate": "submittedOnDate",
		"dateOfBirth": "dateOfBirth"
	}
}, {
	"operation": "modify-overwrite-beta",
	"spec": {
		"active": "=toBoolean",
		"isStaff": "=toBoolean"

	}
}]</value>
    </entry>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>7633bcde-a620-3fa8-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>536.0</x>
<y>-376.0</y>
                            </position>
                            <versionedComponentId>c980bd1c-d7b0-343b-93e6-b8f483a5fc7e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>
            <name>Accept-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>
            <name>Accept</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>Connection</key>
        <value>
            <name>Connection</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>
            <name>Fineract-Platform-TenantId</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Accept-Language</key>
        <value>
            <name>Accept-Language</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>gzip, deflate, br</value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Basic bWlmb3M6cGFzc3dvcmQ=</value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://localhost:8080/fineract-provider/api/v1/clients</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>URL_PATH</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>application/json, text/plain, */*</value>
    </entry>
    <entry>
        <key>Connection</key>
        <value>keep-alive</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>showroom</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Accept-Language</key>
        <value>en-US,en;q=0.9,sw;q=0.8</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
</properties>
<retriedRelationships>Failure</retriedRelationships>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create Client Via Http</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
<retry>true</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>99d6eaf2-ebe0-3551-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>552.0</x>
<y>-144.0</y>
                            </position>
                            <versionedComponentId>1d90c250-5cb5-35c5-977b-b607e5572182</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>fb31383c-826d-3d01-0000-000000000000</id>
                            <parentGroupId>dcef6955-aef2-3eb0-0000-000000000000</parentGroupId>
                            <position>
<x>-80.0</x>
<y>-632.0</y>
                            </position>
                            <versionedComponentId>80fb6f94-8389-3633-aff1-23d76eadbd96</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>KYC SA</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SA FinCloud</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>7627ad00-8106-3b35-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>232.0</y>
            </position>
            <versionedComponentId>7627ad00-8106-3b35-97fd-91b693e234f2</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>2662ce78-dbe6-302c-0000-000000000000</id>
                    <parentGroupId>7627ad00-8106-3b35-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>2662ce78-dbe6-302c-9392-3253d0f60782</versionedComponentId>
                    <comments>Migrate Tenant's Client From Awamo</comments>
                    <contents>
                        <connections>
                            <id>16d936b9-f393-36c5-0000-000000000000</id>
                            <parentGroupId>2662ce78-dbe6-302c-0000-000000000000</parentGroupId>
                            <versionedComponentId>8ce1b851-8be2-3d46-829c-eada83b485cb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
<id>bdcc51a8-a12e-34e7-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
<id>b0bcaa7e-1014-3b82-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processGroups>
                            <id>3a82d883-00f5-3725-0000-000000000000</id>
                            <parentGroupId>2662ce78-dbe6-302c-0000-000000000000</parentGroupId>
                            <position>
<x>619.0</x>
<y>130.0</y>
                            </position>
                            <versionedComponentId>afbe21de-4bb0-37e9-816c-413025b4255b</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>5e861f31-18cc-3381-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <versionedComponentId>17fb2aea-3cb9-3b51-a6b6-d87a888d5a03</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>272.0</x>
        <y>-760.0</y>
    </bends>
    <destination>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>a4d3473b-5688-3562-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>80fb6f94-8389-3633-aff1-23d76eadbd96</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>c3652b64-ccc2-32e6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>6b4feb1f-487b-3a08-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <versionedComponentId>bae851c1-cfd5-39c5-b190-5171ec16d8cf</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>73747d84-d848-3cea-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>c3652b64-ccc2-32e6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>eed77696-0ffa-320a-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <versionedComponentId>709c5df7-d91c-31aa-a373-392f12ff1018</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>b0bcaa7e-1014-3b82-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>73747d84-d848-3cea-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>fd490984-9f15-30b8-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <versionedComponentId>83d04f65-746b-3d0f-90ab-4f3617584ffa</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>272.0</x>
        <y>-536.0</y>
    </bends>
    <destination>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>a4d3473b-5688-3562-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>80fb6f94-8389-3633-aff1-23d76eadbd96</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>3a82d883-00f5-3725-0000-000000000000</groupId>
        <id>73747d84-d848-3cea-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<labels>
    <id>3f13908a-897f-3235-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <position>
        <x>1088.0</x>
        <y>-832.0</y>
    </position>
    <versionedComponentId>1fb99ffc-5e05-3237-ba5e-6f3d3b10b896</versionedComponentId>
    <height>64.0</height>
    <label>Fetch Active Client from m_client and if there is need to fetch pending client, 

Then Duplicate the these two processors and apply appropriate sql and Jolt Transform SetUp
Then use a funnel to to send streams of flow file into OUTPUT Port</label>
    <style>
        <entry>
            <key>font-size</key>
            <value>12px</value>
        </entry>
    </style>
    <width>528.0</width>
    <zIndex>0</zIndex>
</labels>
<outputPorts>
    <id>b0bcaa7e-1014-3b82-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <position>
        <x>712.0</x>
        <y>-376.0</y>
    </position>
    <versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>OutPut</name>
    <state>RUNNING</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>73747d84-d848-3cea-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <position>
        <x>656.0</x>
        <y>-608.0</y>
    </position>
    <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments>[{
	"operation": "shift",
	"spec": {
		"firstname": "firstname",
		"middlename": "middlename",
		"lastname": "lastname",
		"mobileNo": "mobileNo",
		"externalId": "externalId",
		"officeId": "officeId",
		"legalFormId": "legalFormId",
		"isStaff": "isStaff",
		"active": "active",
		"dateFormat": "dateFormat",
		"locale": "locale",
		"activationDate": "activationDate",
		"submittedOnDate": "submittedOnDate",
		"dateOfBirth": "dateOfBirth"
	}
}, {
	"operation": "modify-overwrite-beta",
	"spec": {
		"active": "=toBoolean",
		"isStaff": "=toBoolean"

	}
}]</comments>
        <concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>jolt-spec</key>
                <value>
                    <name>jolt-spec</name>
                </value>
            </entry>
            <entry>
                <key>jolt-transform</key>
                <value>
                    <name>jolt-transform</name>
                </value>
            </entry>
            <entry>
                <key>jolt-custom-class</key>
                <value>
                    <dependencies>
                        <dependentValues>jolt-transform-custom</dependentValues>
                        <propertyName>jolt-spec</propertyName>
                    </dependencies>
                    <name>jolt-custom-class</name>
                </value>
            </entry>
            <entry>
                <key>jolt-custom-modules</key>
                <value>
                    <dependencies>
                        <dependentValues>jolt-transform-custom</dependentValues>
                        <propertyName>jolt-spec</propertyName>
                    </dependencies>
                    <name>jolt-custom-modules</name>
                </value>
            </entry>
            <entry>
                <key>pretty_print</key>
                <value>
                    <name>pretty_print</name>
                </value>
            </entry>
            <entry>
                <key>Transform Cache Size</key>
                <value>
                    <name>Transform Cache Size</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>jolt-spec</key>
                <value>[{
	"operation": "shift",
	"spec": {
		"firstname": "firstname",
		"middlename": "middlename",
		"lastname": "lastname",
		"mobileNo": "mobileNo",
		"externalId": "externalId",
		"officeId": "officeId",
		"legalFormId": "legalFormId",
		"isStaff": "isStaff",
		"active": "active",
		"dateFormat": "dateFormat",
		"locale": "locale",
		"activationDate": "activationDate",
		"submittedOnDate": "submittedOnDate",
		"dateOfBirth": "dateOfBirth"
	}
}, {
	"operation": "modify-overwrite-beta",
	"spec": {
		"active": "=toBoolean",
		"isStaff": "=toBoolean"

	}
}]</value>
            </entry>
            <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
            </entry>
            <entry>
                <key>pretty_print</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Transform Cache Size</key>
                <value>1</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>JoltTransformJSON</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
</processors>
<processors>
    <id>a4d3473b-5688-3562-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <position>
        <x>96.0</x>
        <y>-704.0</y>
    </position>
    <versionedComponentId>80fb6f94-8389-3633-aff1-23d76eadbd96</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Log prefix</key>
                <value>
                    <name>Log prefix</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>
                    <name>Log FlowFile Properties</name>
                </value>
            </entry>
            <entry>
                <key>Log Level</key>
                <value>
                    <name>Log Level</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-ignore-regex</key>
                <value>
                    <name>attributes-to-ignore-regex</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Ignore</key>
                <value>
                    <name>Attributes to Ignore</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Log</key>
                <value>
                    <name>Attributes to Log</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>
                    <name>attributes-to-log-regex</name>
                </value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>
                    <name>Output Format</name>
                </value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>
                    <name>Log Payload</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>character-set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Log Level</key>
                <value>info</value>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>.*</value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>Line per Attribute</value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>false</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>LogAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.LogAttribute</type>
</processors>
<processors>
    <id>c3652b64-ccc2-32e6-0000-000000000000</id>
    <parentGroupId>3a82d883-00f5-3725-0000-000000000000</parentGroupId>
    <position>
        <x>656.0</x>
        <y>-832.0</y>
    </position>
    <versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments>{
  "firstname" : "Suzi",
  "middlename" : null,
  "lastname" : "Erdman",
  "mobileNo" : null,
  "externalId" : "89GIOUQN",
  "officeId" : 1,
  "legalFormId" : 1,
  "isStaff" : 0,
  "active" : 1,
  "dateFormat" : "dd MMMM yyyy",
  "locale" : "en",
  "activationDate" : "25  February 2022",
  "submittedOnDate" : "25  February 2022",
  "dateOfBirth" : "21  March 2004"
}</comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Table Name</key>
                <value>
                    <name>Table Name</name>
                </value>
            </entry>
            <entry>
                <key>db-fetch-db-type</key>
                <value>
                    <name>db-fetch-db-type</name>
                </value>
            </entry>
            <entry>
                <key>dbf-default-precision</key>
                <value>
                    <name>dbf-default-precision</name>
                </value>
            </entry>
            <entry>
                <key>qdbtr-record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>qdbtr-record-writer</name>
                </value>
            </entry>
            <entry>
                <key>Max Wait Time</key>
                <value>
                    <name>Max Wait Time</name>
                </value>
            </entry>
            <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                    <name>Database Connection Pooling Service</name>
                </value>
            </entry>
            <entry>
                <key>Maximum-value Columns</key>
                <value>
                    <name>Maximum-value Columns</name>
                </value>
            </entry>
            <entry>
                <key>dbf-user-logical-types</key>
                <value>
                    <name>dbf-user-logical-types</name>
                </value>
            </entry>
            <entry>
                <key>qdbt-output-batch-size</key>
                <value>
                    <name>qdbt-output-batch-size</name>
                </value>
            </entry>
            <entry>
                <key>qdbt-max-rows</key>
                <value>
                    <name>qdbt-max-rows</name>
                </value>
            </entry>
            <entry>
                <key>qdbt-max-frags</key>
                <value>
                    <name>qdbt-max-frags</name>
                </value>
            </entry>
            <entry>
                <key>dbf-default-scale</key>
                <value>
                    <name>dbf-default-scale</name>
                </value>
            </entry>
            <entry>
                <key>initial-load-strategy</key>
                <value>
                    <name>initial-load-strategy</name>
                </value>
            </entry>
            <entry>
                <key>Fetch Size</key>
                <value>
                    <name>Fetch Size</name>
                </value>
            </entry>
            <entry>
                <key>db-fetch-sql-query</key>
                <value>
                    <name>db-fetch-sql-query</name>
                </value>
            </entry>
            <entry>
                <key>qdbtr-normalize</key>
                <value>
                    <name>qdbtr-normalize</name>
                </value>
            </entry>
            <entry>
                <key>Columns to Return</key>
                <value>
                    <name>Columns to Return</name>
                </value>
            </entry>
            <entry>
                <key>db-fetch-where-clause</key>
                <value>
                    <name>db-fetch-where-clause</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>PRIMARY</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Table Name</key>
                <value>#{client_table_name}</value>
            </entry>
            <entry>
                <key>db-fetch-db-type</key>
                <value>MySQL</value>
            </entry>
            <entry>
                <key>dbf-default-precision</key>
                <value>10</value>
            </entry>
            <entry>
                <key>qdbtr-record-writer</key>
                <value>050c9c8a-e777-3d65-0000-000000000000</value>
            </entry>
            <entry>
                <key>Max Wait Time</key>
                <value>60 seconds</value>
            </entry>
            <entry>
                <key>Database Connection Pooling Service</key>
                <value>641a54f0-6e0c-3e62-0000-000000000000</value>
            </entry>
            <entry>
                <key>Maximum-value Columns</key>
                <value>#{maximum_value_colums_pointer}</value>
            </entry>
            <entry>
                <key>dbf-user-logical-types</key>
                <value>false</value>
            </entry>
            <entry>
                <key>qdbt-output-batch-size</key>
                <value>0</value>
            </entry>
            <entry>
                <key>qdbt-max-rows</key>
                <value>1</value>
            </entry>
            <entry>
                <key>qdbt-max-frags</key>
                <value>0</value>
            </entry>
            <entry>
                <key>dbf-default-scale</key>
                <value>0</value>
            </entry>
            <entry>
                <key>initial-load-strategy</key>
                <value>Start at Beginning</value>
            </entry>
            <entry>
                <key>Fetch Size</key>
                <value>0</value>
            </entry>
            <entry>
                <key>db-fetch-sql-query</key>
                <value>#{client_table_custom_query}</value>
            </entry>
            <entry>
                <key>qdbtr-normalize</key>
                <value>false</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>60 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>true</executionNodeRestricted>
    <name>Fetch from m_client</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.QueryDatabaseTableRecord</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Fetch Clients From Awamo Database and transform</name>
                            <variables/>
                        </processGroups>
                        <processGroups>
                            <id>adb4ca2b-9c3c-38ba-0000-000000000000</id>
                            <parentGroupId>2662ce78-dbe6-302c-0000-000000000000</parentGroupId>
                            <position>
<x>624.0</x>
<y>440.0</y>
                            </position>
                            <versionedComponentId>eecf07e2-ba82-3268-8169-ef6d89c8e4d6</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>66ba7860-a569-30da-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>7a1dfb08-d55b-3359-aa4f-8cb19f851715</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>-8.0</x>
        <y>-232.0</y>
    </bends>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>7008c1bc-6c3d-353c-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Response</selectedRelationships>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>68881774-b2e1-36c2-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>26c262e0-da45-34ee-ba6a-b0d58ce38d7c</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>bdcc51a8-a12e-34e7-0000-000000000000</id>
        <type>INPUT_PORT</type>
        <versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>77fab201-4492-3437-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>757ee593-5398-356d-a75f-913f7d068c2b</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>944.0</x>
        <y>-232.0</y>
    </bends>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>7008c1bc-6c3d-353c-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Original</selectedRelationships>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a88b2278-02ee-3d90-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>390ffddd-f54a-3bc7-ab81-f0af0f59777e</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>480.0</x>
        <y>-232.0</y>
    </bends>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>7008c1bc-6c3d-353c-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>No Retry</selectedRelationships>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c7ddfd32-7c6b-3cce-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>7cc3229a-159c-3588-94b2-397fce7aa4cf</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>720.0</x>
        <y>-232.0</y>
    </bends>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>7008c1bc-6c3d-353c-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Retry</selectedRelationships>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>cb610107-fab6-3685-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>2360b7ea-eaaa-3165-ae19-3c42e2999c20</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>240.0</x>
        <y>-232.0</y>
    </bends>
    <destination>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>7008c1bc-6c3d-353c-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Failure</selectedRelationships>
    <source>
        <groupId>adb4ca2b-9c3c-38ba-0000-000000000000</groupId>
        <id>71fc90ca-216b-3ea3-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<controllerServices>
    <id>4a2c6837-2ffd-3489-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <versionedComponentId>4a2c6837-2ffd-3489-8384-85ff72d52c0c</versionedComponentId>
    <bundle>
        <artifact>nifi-ssl-context-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <comments>This context connects to Fineract API on Test Environment</comments>
    <descriptors>
        <entry>
            <key>Truststore Type</key>
            <value>
                <name>Truststore Type</name>
            </value>
        </entry>
        <entry>
            <key>SSL Protocol</key>
            <value>
                <name>SSL Protocol</name>
            </value>
        </entry>
        <entry>
            <key>Keystore Type</key>
            <value>
                <name>Keystore Type</name>
            </value>
        </entry>
        <entry>
            <key>Truststore Filename</key>
            <value>
                <name>Truststore Filename</name>
            </value>
        </entry>
        <entry>
            <key>Keystore Password</key>
            <value>
                <name>Keystore Password</name>
            </value>
        </entry>
        <entry>
            <key>key-password</key>
            <value>
                <name>key-password</name>
            </value>
        </entry>
        <entry>
            <key>Truststore Password</key>
            <value>
                <name>Truststore Password</name>
            </value>
        </entry>
        <entry>
            <key>Keystore Filename</key>
            <value>
                <name>Keystore Filename</name>
            </value>
        </entry>
    </descriptors>
    <name>StandardSSLContextService-Awamo-Uganda-To-FineractAPI</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Truststore Type</key>
            <value>JKS</value>
        </entry>
        <entry>
            <key>SSL Protocol</key>
            <value>TLS</value>
        </entry>
        <entry>
            <key>Keystore Type</key>
            <value>JKS</value>
        </entry>
        <entry>
            <key>Truststore Filename</key>
            <value>#{truststore_fileName}</value>
        </entry>
        <entry>
            <key>Keystore Filename</key>
            <value>#{truststore_fileName}</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.ssl.StandardSSLContextService</type>
</controllerServices>
<inputPorts>
    <id>bdcc51a8-a12e-34e7-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <position>
        <x>448.0</x>
        <y>-768.0</y>
    </position>
    <versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>InputPort</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<processors>
    <id>7008c1bc-6c3d-353c-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <position>
        <x>400.0</x>
        <y>-48.0</y>
    </position>
    <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Log prefix</key>
                <value>
                    <name>Log prefix</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>
                    <name>Log FlowFile Properties</name>
                </value>
            </entry>
            <entry>
                <key>Log Level</key>
                <value>
                    <name>Log Level</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-ignore-regex</key>
                <value>
                    <name>attributes-to-ignore-regex</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Ignore</key>
                <value>
                    <name>Attributes to Ignore</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Log</key>
                <value>
                    <name>Attributes to Log</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>
                    <name>attributes-to-log-regex</name>
                </value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>
                    <name>Output Format</name>
                </value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>
                    <name>Log Payload</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>character-set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Log Level</key>
                <value>info</value>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>.*</value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>Line per Attribute</value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>false</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>LogAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.LogAttribute</type>
</processors>
<processors>
    <id>71fc90ca-216b-3ea3-0000-000000000000</id>
    <parentGroupId>adb4ca2b-9c3c-38ba-0000-000000000000</parentGroupId>
    <position>
        <x>392.0</x>
        <y>-632.0</y>
    </position>
    <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0-SNAPSHOT</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
                <value>
                    <name>Attributes to Send</name>
                </value>
            </entry>
            <entry>
                <key>use-etag</key>
                <value>
                    <name>use-etag</name>
                </value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                    <name>proxy-configuration-service</name>
                </value>
            </entry>
            <entry>
                <key>Accept-Encoding</key>
                <value>
                    <name>Accept-Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>
                    <name>Proxy Type</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
                <value>
                    <name>Basic Authentication Password</name>
                </value>
            </entry>
            <entry>
                <key>cookie-strategy</key>
                <value>
                    <name>cookie-strategy</name>
                </value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>
                    <name>Connection Timeout</name>
                </value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>
                    <name>send-message-body</name>
                </value>
            </entry>
            <entry>
                <key>Authorization</key>
                <value>
                    <name>Authorization</name>
                </value>
            </entry>
            <entry>
                <key>set-form-filename</key>
                <value>
                    <name>set-form-filename</name>
                </value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>
                    <name>Always Output Response</name>
                </value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>
                    <name>etag-max-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>disable-http2</key>
                <value>
                    <name>disable-http2</name>
                </value>
            </entry>
            <entry>
                <key>idle-timeout</key>
                <value>
                    <name>idle-timeout</name>
                </value>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                    <name>Put Response Body In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>
                    <name>Use Chunked Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>
                    <name>Follow Redirects</name>
                </value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>
                    <name>Remote URL</name>
                </value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>
                    <name>Content-Type</name>
                </value>
            </entry>
            <entry>
                <key>form-body-form-name</key>
                <value>
                    <name>form-body-form-name</name>
                </value>
            </entry>
            <entry>
                <key>flow-file-naming-strategy</key>
                <value>
                    <name>flow-file-naming-strategy</name>
                </value>
            </entry>
            <entry>
                <key>max-idle-connections</key>
                <value>
                    <name>max-idle-connections</name>
                </value>
            </entry>
            <entry>
                <key>Accept</key>
                <value>
                    <name>Accept</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                    <name>invokehttp-proxy-user</name>
                </value>
            </entry>
            <entry>
                <key>Connection</key>
                <value>
                    <name>Connection</name>
                </value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>
                    <name>Read Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                    <name>Max Length To Put In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                    <name>invokehttp-proxy-password</name>
                </value>
            </entry>
            <entry>
                <key>ignore-response-content</key>
                <value>
                    <name>ignore-response-content</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Port</key>
                <value>
                    <name>Proxy Port</name>
                </value>
            </entry>
            <entry>
                <key>Fineract-Platform-TenantId</key>
                <value>
                    <name>Fineract-Platform-TenantId</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>
                    <name>Digest Authentication</name>
                </value>
            </entry>
            <entry>
                <key>HTTP Method</key>
                <value>
                    <name>HTTP Method</name>
                </value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>
                    <name>Add Response Headers to Request</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>
                    <name>Basic Authentication Username</name>
                </value>
            </entry>
            <entry>
                <key>oauth2-access-token-provider</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                    <name>oauth2-access-token-provider</name>
                </value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>
                    <name>Include Date Header</name>
                </value>
            </entry>
            <entry>
                <key>Accept-Language</key>
                <value>
                    <name>Accept-Language</name>
                </value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                    <name>Penalize on "No Retry"</name>
                </value>
            </entry>
            <entry>
                <key>Useragent</key>
                <value>
                    <name>Useragent</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>use-etag</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Accept-Encoding</key>
                <value>gzip, deflate, br</value>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>http</value>
            </entry>
            <entry>
                <key>cookie-strategy</key>
                <value>DISABLED</value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Authorization</key>
                <value>#{authorization}</value>
            </entry>
            <entry>
                <key>set-form-filename</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>false</value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>10MB</value>
            </entry>
            <entry>
                <key>disable-http2</key>
                <value>False</value>
            </entry>
            <entry>
                <key>idle-timeout</key>
                <value>5 mins</value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>#{fineract_url}#{fineract_api_base_path}#{client_api_path}
</value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>application/json</value>
            </entry>
            <entry>
                <key>flow-file-naming-strategy</key>
                <value>URL_PATH</value>
            </entry>
            <entry>
                <key>max-idle-connections</key>
                <value>5</value>
            </entry>
            <entry>
                <key>Accept</key>
                <value>application/json, text/plain, */*</value>
            </entry>
            <entry>
                <key>Connection</key>
                <value>keep-alive</value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>1000</value>
            </entry>
            <entry>
                <key>ignore-response-content</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Fineract-Platform-TenantId</key>
                <value>#{fineract-platform-tenantid}</value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>4a2c6837-2ffd-3489-0000-000000000000</value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>false</value>
            </entry>
            <entry>
                <key>HTTP Method</key>
                <value>POST</value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Accept-Language</key>
                <value>en-US,en;q=0.9,sw;q=0.8</value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
            </entry>
        </properties>
        <retriedRelationships>Failure</retriedRelationships>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Create Client Via Http</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Failure</name>
        <retry>true</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>No Retry</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Original</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Retry</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Create Client on Fineract via Http Post</name>
                            <variables/>
                        </processGroups>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>KYC</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Awamo Uganada </name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>b7c3a5da-9826-3dca-0000-000000000000</id>
            <parentGroupId>6e72c041-a907-3f41-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>b7c3a5da-9826-3dca-b0d1-c1bf7c1e5428</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>8d1689c8-6e6c-33bd-0000-000000000000</id>
                    <parentGroupId>b7c3a5da-9826-3dca-0000-000000000000</parentGroupId>
                    <versionedComponentId>8d1689c8-6e6c-33bd-8b14-aaf00f9d0690</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
                        <id>a7d1adab-a1ac-3818-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
                        <id>85cc79ef-0632-3e1a-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>622d78bf-9ec3-31f4-0000-000000000000</id>
                    <parentGroupId>b7c3a5da-9826-3dca-0000-000000000000</parentGroupId>
                    <position>
                        <x>392.0</x>
                        <y>104.0</y>
                    </position>
                    <versionedComponentId>622d78bf-9ec3-31f4-bc05-cbe7dccd693b</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>102038cd-2911-3189-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <versionedComponentId>bae851c1-cfd5-39c5-b190-5171ec16d8cf</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>755e7d1b-69b3-3668-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>8b9d8499-cf19-3af7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>733706a9-a48f-3241-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <versionedComponentId>733706a9-a48f-3241-8498-991fb39aae8d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>85cc79ef-0632-3e1a-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>755e7d1b-69b3-3668-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a9ab9007-4454-3588-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <versionedComponentId>a9ab9007-4454-3588-9d4f-3e5b9b021269</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>62c20fa3-c21e-3f01-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>62c20fa3-c21e-3f01-877f-01bd9f914d26</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>622d78bf-9ec3-31f4-0000-000000000000</groupId>
<id>755e7d1b-69b3-3668-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>85cc79ef-0632-3e1a-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <position>
<x>744.0</x>
<y>-384.0</y>
                            </position>
                            <versionedComponentId>c6613bce-d1e7-3858-86d3-832de2c45134</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>OutPut</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>62c20fa3-c21e-3f01-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>-640.0</y>
                            </position>
                            <versionedComponentId>62c20fa3-c21e-3f01-877f-01bd9f914d26</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>755e7d1b-69b3-3668-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>-640.0</y>
                            </position>
                            <versionedComponentId>dcf34911-dc9c-33b2-8b37-ed7036a80a10</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-spec</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-spec</key>
        <value>[{
	"operation": "shift",
	"spec": {
		"firstname": "firstname",
		"lastname": "lastname",
		"officeId": "officeId",
		"legalFormId": "legalFormId",
		"isStaff": "isStaff",
		"active": "active",
		"dateFormat": "dateFormat",
		"locale": "locale"
	}
}]</value>
    </entry>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>8b9d8499-cf19-3af7-0000-000000000000</id>
                            <parentGroupId>622d78bf-9ec3-31f4-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>-848.0</y>
                            </position>
                            <versionedComponentId>65f00940-b498-3355-9bbd-94cdd54989b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>
            <name>db-fetch-db-type</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>qdbtr-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>qdbtr-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>
            <name>Maximum-value Columns</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>
            <name>qdbt-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>
            <name>qdbt-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>
            <name>qdbt-max-frags</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>initial-load-strategy</key>
        <value>
            <name>initial-load-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>
            <name>Fetch Size</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
        <value>
            <name>db-fetch-sql-query</name>
        </value>
    </entry>
    <entry>
        <key>qdbtr-normalize</key>
        <value>
            <name>qdbtr-normalize</name>
        </value>
    </entry>
    <entry>
        <key>Columns to Return</key>
        <value>
            <name>Columns to Return</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-where-clause</key>
        <value>
            <name>db-fetch-where-clause</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Table Name</key>
        <value>t_client</value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>MS SQL 2012+</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>qdbtr-record-writer</key>
        <value>050c9c8a-e777-3d65-0000-000000000000</value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>60 seconds</value>
    </entry>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>1f340475-7994-31f5-0000-000000000000</value>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>ClientID</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>0</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>initial-load-strategy</key>
        <value>Start at Beginning</value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
        <value>SELECT * FROM GetBucks_Kenya.dbo.t_Client</value>
    </entry>
    <entry>
        <key>qdbtr-normalize</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>GetBucks Kenya</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryDatabaseTableRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Fetch Clients From Database</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>8bb829b4-fdfa-3bdc-0000-000000000000</id>
                    <parentGroupId>b7c3a5da-9826-3dca-0000-000000000000</parentGroupId>
                    <position>
                        <x>392.0</x>
                        <y>448.0</y>
                    </position>
                    <versionedComponentId>8bb829b4-fdfa-3bdc-8c14-b8e6225db445</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>4173f3f8-7d24-31cd-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>4173f3f8-7d24-31cd-8609-6ac2e23a6a48</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>b7db87c1-4f6e-3a72-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>a7d1adab-a1ac-3818-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>549b4c08-0dd8-32f1-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>549b4c08-0dd8-32f1-883b-82e224f048c8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1384.0</x>
<y>-632.0</y>
                            </bends>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>b7db87c1-4f6e-3a72-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>4478cd72-0d66-31dd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4478cd72-0d66-31dd-8663-98fce952756e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5d23ce4b-86d5-3607-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>5d23ce4b-86d5-3607-88b5-a9884472d688</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>b7db87c1-4f6e-3a72-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>539cbaa6-e41d-3bcf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>951dde92-f0fe-3c59-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>951dde92-f0fe-3c59-8e72-bbb5aa4466af</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>b7db87c1-4f6e-3a72-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>4478cd72-0d66-31dd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4478cd72-0d66-31dd-8663-98fce952756e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b71b7063-5b92-3a32-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>b71b7063-5b92-3a32-a3b9-3244dc0109e3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>800.0</x>
<y>-640.0</y>
                            </bends>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>b7db87c1-4f6e-3a72-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>4478cd72-0d66-31dd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4478cd72-0d66-31dd-8663-98fce952756e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dbc4d58b-68ea-3725-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>26c262e0-da45-34ee-ba6a-b0d58ce38d7c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>539cbaa6-e41d-3bcf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>8bb829b4-fdfa-3bdc-0000-000000000000</groupId>
<id>a7d1adab-a1ac-3818-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>67adcd3e-f527-3ed9-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <versionedComponentId>67adcd3e-f527-3ed9-b836-397788dc68a3</versionedComponentId>
                            <bundle>
<artifact>nifi-ssl-context-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Truststore Type</key>
    <value>
        <name>Truststore Type</name>
    </value>
</entry>
<entry>
    <key>SSL Protocol</key>
    <value>
        <name>SSL Protocol</name>
    </value>
</entry>
<entry>
    <key>Keystore Type</key>
    <value>
        <name>Keystore Type</name>
    </value>
</entry>
<entry>
    <key>Truststore Filename</key>
    <value>
        <name>Truststore Filename</name>
    </value>
</entry>
<entry>
    <key>Keystore Password</key>
    <value>
        <name>Keystore Password</name>
    </value>
</entry>
<entry>
    <key>key-password</key>
    <value>
        <name>key-password</name>
    </value>
</entry>
<entry>
    <key>Truststore Password</key>
    <value>
        <name>Truststore Password</name>
    </value>
</entry>
<entry>
    <key>Keystore Filename</key>
    <value>
        <name>Keystore Filename</name>
    </value>
</entry>
                            </descriptors>
                            <name>StandardSSLContextService-SSL-TrustGro-Kenya-FineractAPI</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Truststore Type</key>
    <value>JKS</value>
</entry>
<entry>
    <key>SSL Protocol</key>
    <value>TLS</value>
</entry>
<entry>
    <key>Keystore Type</key>
    <value>JKS</value>
</entry>
<entry>
    <key>Truststore Filename</key>
    <value>/usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts</value>
</entry>
<entry>
    <key>Keystore Filename</key>
    <value>/usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
                        </controllerServices>
                        <inputPorts>
                            <id>a7d1adab-a1ac-3818-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <position>
<x>352.0</x>
<y>-928.0</y>
                            </position>
                            <versionedComponentId>b1bf87c6-ac44-37e2-821e-9cc3b5ef64a4</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>InputPort</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>4478cd72-0d66-31dd-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <position>
<x>904.0</x>
<y>-496.0</y>
                            </position>
                            <versionedComponentId>4478cd72-0d66-31dd-8663-98fce952756e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>
            <name>Accept-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>
            <name>Accept</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>
            <name>Fineract-Platform-TenantId</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>gzip, deflate, br</value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>https</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Basic bWlmb3M6cGFzc3dvcmQ=</value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>https://finaccio-backend.trustgro.com/fineract-provider/api/v1/clients</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>RANDOM</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>application/json, text/plain, */*</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>test_migration</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>67adcd3e-f527-3ed9-0000-000000000000</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
</properties>
<retriedRelationships>Failure</retriedRelationships>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP-Get Clients from Fineract API</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
<retry>true</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>539cbaa6-e41d-3bcf-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <position>
<x>296.0</x>
<y>-792.0</y>
                            </position>
                            <versionedComponentId>c8689353-5821-3f58-9212-f1b0a7da124c</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1000</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>
            <name>Accept-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>
            <name>Accept</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>
            <name>Fineract-Platform-TenantId</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Accept-Encoding</key>
        <value>gzip, deflate, br</value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Basic bWlmb3M6cGFzc3dvcmQ=</value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>https://finaccio-backend.trustgro.com/fineract-provider/api/v1/clients</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>RANDOM</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Accept</key>
        <value>application/json, text/plain, */*</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Fineract-Platform-TenantId</key>
        <value>test_migration</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>67adcd3e-f527-3ed9-0000-000000000000</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
</properties>
<retriedRelationships>Failure</retriedRelationships>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
<retry>true</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>b7db87c1-4f6e-3a72-0000-000000000000</id>
                            <parentGroupId>8bb829b4-fdfa-3bdc-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>-928.0</y>
                            </position>
                            <versionedComponentId>832f1b2f-ff6b-313a-9ef3-5921c5d2e6c0</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0-SNAPSHOT</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Process Clients</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Kenya GetBucks</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/16/2022 07:40:27 UTC</timestamp>
</template>
